{% extends "store/base.html" %}

{% block reklam %}

{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="form-wrapper">
        <h2 class="form-title">Создать аккаунт</h2>
        <!-- Отображение сообщений -->
        {% if messages %}
          <div class="message-container">
            {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
              </div>
            {% endfor %}
          </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-col">
                    <label for="id_username">Username</label>
                    {{ form.username }}
                </div>
                <div class="form-col">
                    <label for="id_email">Email</label>
                    {{ form.email }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-col">
                    <label for="id_first_name">Имя</label>
                    {{ form.first_name }}
                </div>
                <div class="form-col">
                    <label for="id_last_name">Фамилия</label>
                    {{ form.last_name }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-col">
                    <label for="id_birth_date">Дата рождения</label>
                    {{ form.birth_date }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-col">
                    <label for="id_password1">Пароль</label>
                    {{ form.password1 }}
                </div>
                <div class="form-col">
                    <label for="id_password2">Подтверждение пароля</label>
                    {{ form.password2 }}
                </div>
            </div>

            <button type="submit" class="submit-btn">Зарегистрироваться</button>
        </form>
        <p class="redirect-text">Уже есть аккаунт? <a href="{% url 'users:login' %}">Войти здесь</a></p>
    </div>
</div>

{% endblock %}
